<h2>Details</h2>

<ul>
<p>First Name: <%= @employee.first_name%></p>
<p>Last Name: <%= @employee.last_name%></p>
<p>Alias: <%= @employee.alias%></p>
<p>Title: <%= @employee.title%></p>
<p>Office: <%= @employee.office%></p>
</ul>

<br>
<p><%= button_to "Edit #{@employee.first_name}", edit_employee_path, method: :get%></p>

<p><%= button_to "Back to List", employees_path, method: :get%></p>
